a { 
    text-decoration: none;
    color: balck;
}
.header {
    margin: 0 auto;
    height: 200px;

    grid-area: h;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.userProfile {

}