.userProfileWrapper {
    display: flex;
    border: 1px solid teal;
    padding: 20px;
    margin: 15px 15px 15px 0;
    border-radius: 16px;
}

.basicInfo {
    margin: 15px;
}

.userImg {
    border-radius: 50%;
}

.imgWrapper {
    margin: 15px;
    margin-right: 30px;
    position: relative;
}

.setUserImg {
    position: absolute;
    bottom: 0;
    left: 0;
}